# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependencies
node_modules
.pnp
.pnp.js

# Build
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# build files
dfyoutube-chrome.zip
dfyoutube-firefox-mv2.zip
dfyoutube-firefox-mv3.zip
dfyoutube-edge.zip
# build dist files
dist-chrome
dist-firefox-mv2
dist-firefox-mv3
dist-edge